.answer-div {
    display: none;
}
.form-popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 2px;
            border: 1px solid #ccc;
            z-index: 1;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
          max-width:  1000px;
          text-align: center;
}

