{% extends "PetForum/base.html" %}
{% load static %}
{% block content %}
 <!-- Signup Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="bg-primary py-5 px-4 px-sm-5">
                        <form class="py-5">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="Your First Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="Your Last Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 p-4" placeholder="Your Email" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="Your Address" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="Your Country" required="required" />
                            </div>
                            <div class="form-group">
                                <select class="custom-select border-0 px-4" style="height: 47px;">
                                    <option selected>Select Province</option>
                                    <option value="1">Alberta</option>
                                    <option value="2">British Columbia</option>
                                    <option value="3">Manitoba</option>
                                    <option value="4">New Brunswick</option>
                                    <option value="5">Newfoundland and Labrador</option>
                                    <option value="6">Northwest Territories</option>
                                    <option value="7">Nova Scotia</option>
                                    <option value="8">Nunavut</option>
                                    <option value="9">Ontario</option>
                                    <option value="10">Prince Edward Island</option>
                                    <option value="11">Quebec</option>
                                    <option value="12">Saskatchewan</option>
                                    <option value="13">Yukon</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="Your City" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control border-0 p-4" placeholder="Your Contact Number" required="required" />
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit">Sign up</button>
                            </div>
                            <div>
                                <a href="login.html" class="btn btn-lg btn-primary px-3 d-none d-lg-block">Already a Member? Login</a>
                               <!-- <button class="btn btn-dark btn-block border-0 py-3" type="submit">Sign up</button>-->
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
                    <h4 class="text-secondary mb-3">What we provide?</h4>
                    <h1 class="display-4 mb-4">Our <span class="text-primary">Services</span></h1>
                    <p></p>
                    <div class="row py-2">
                        <div class="col-sm-6">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <h1 class="flaticon-house font-weight-normal text-secondary m-0 mr-3"></h1>
                                    <h5 class="text-truncate m-0">Pet Forum</h5>
                                </div>
                                <p>Post, Discuss, Question or Answer pet Pet-Related issues.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <h1 class="flaticon-food font-weight-normal text-secondary m-0 mr-3"></h1>
                                    <h5 class="text-truncate m-0">Offers & Discounts</h5>
                                </div>
                                <p>Find out the latest offers and discounts on pet products.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <h1 class="flaticon-grooming font-weight-normal text-secondary m-0 mr-3"></h1>
                                    <h5 class="text-truncate m-0">Adopt</h5>
                                </div>
                                <p class="m-0">Don't buy, go for adoption through our adoption feature.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <h1 class="flaticon-toy font-weight-normal text-secondary m-0 mr-3"></h1>
                                    <h5 class="text-truncate m-0">Lost & Found</h5>
                                </div>
                                <p class="m-0">Find out about the lost and found pets.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Signup End -->
{% endblock content %}